.game-container {
    min-height: 590px;
    background-color: #fff;
    height: 20vw;
}


.gameBoard {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.infoSection {
    border-right: 1px solid gray;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.questionSection {
    height: 31.4vw;
    width: 80%;
    background-image: url("https://images.assetsdelivery.com/compings_v2/sabelskaya/sabelskaya1903/sabelskaya190300096.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;   
    display: flex;
    flex-direction: column;


    
}   

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    gap:20px;
    margin-left: 0.5vw;
}

li {
    font-size: 1.4em;
}

.info-item {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: -2vw ;
}

.question-header {
    display: flex;
    font-size: 1.3vw;
    gap: 20vw;
    margin-top: -2.7vw;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 0.1vw;
}

.question {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    font-size: 2vw;
    text-align: center;
}

.suggestions {
    font-size: 1.6vw;
}

.suggestionsPuce {
    font-family: 'Sansita Swashed', cursive;
}

.suggestion {
    border: 1px solid #fff;
}

.suggestion:hover {
    background-color: orange;
    cursor: pointer;
}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    margin-top: 2vw;
    gap:1px;
} 

.main-score {
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    flex-direction: row;
}

.success-answers {
    color:green;
}

.failed-answers {
    color:red;
}

.actions button {
    background-color: black;
    color: #fff;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.finish-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:5vw;
}

.success-image {
    background-image: url("../images/happy.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    width:20vw;
    height:20vw;
    border-radius: 200px;
}

.fail-image {
    background-image: url("../images//sad.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    width:20vw;
    height:20vw;
    border-radius: 200px;
}

.image-container {
    margin-top: 2vw;
}